<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!--event bus-->
    <bean id="eventBus" class="com.google.common.eventbus.EventBus">
        <constructor-arg>
            <bean class="io.belov.soyuz.bus.GuavaBusExceptionHandler"/>
        </constructor-arg>
    </bean>

    <!--other-->
    <bean class="io.belov.soyuz.bus.GuavaBusService" autowire="constructor"/>

</beans>