<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--temp file provider-->
    <bean class="io.belov.soyuz.io.temp.ScheduledTempFileProvider">
        <constructor-arg name="rootDirName" value="${tempFileProvider.rootDirName}"/>
        <constructor-arg name="filePrefix" value="${tempFileProvider.filePrefix:tmp}"/>
        <constructor-arg name="lifetimeInSeconds" value="${tempFileProvider.lifetimeInSeconds}"/>
        <constructor-arg name="isDeleteDirectories" value="${tempFileProvider.isDeleteDirectories:false}"/>
    </bean>

</beans>